/*********specific header styles the same for each campaign***************/
/************mixins and color declarations below for customisation******************/

/**font declarations**/
@font-face {
  font-family: quantico_bold;
  src: url('../assets/fonts/quantico-bold/Quantico-Bold.eot');
  src: local('☺'), url('../assets/fonts/quantico-bold/Quantico-Bold.woff') format('woff'), url('../assets/fonts/quantico-bold/Quantico-Bold.ttf') format('truetype'), url('../assets/fonts/quantico-bold/Quantico-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: quantico_reg;
  src: url('../assets/fonts/quantico/Quantico-Regular.eot');
  src: local('☺'), url('../assets/fonts/quantico/Quantico-Regular.woff') format('woff'), url('../assets/fonts/quantico/Quantico-Regular.ttf') format('truetype'), url('../assets/fonts/quantico/Quantico-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: clancy_bold;
  src: url('../assets/fonts/clancy/Clancy_Bold_PS3.eot');
  src: local('☺'), url('../assets/fonts/clancy/Clancy_Bold_PS3.woff') format('woff'), url('../assets/fonts/clancy/Clancy_Bold_PS3.ttf') format('truetype'), url('../assets/fonts/clancy/Clancy_Bold_PS3.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: tango;
  src: url('../assets/fonts/tango/TANGOCHARLIE_0.eot');
  src: local('☺'), url('../assets/fonts/tango/TANGOCHARLIE_0.woff') format('woff'), url('../assets/fonts/tango/TANGOCHARLIE_0.ttf') format('truetype'), url('../assets/fonts/tango/TANGOCHARLIE_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: din;
  src: url('../assets/fonts/din/DIN Medium.eot');
  src: local('☺'), url('../assets/fonts/din/DIN Medium.woff') format('woff'), url('../assets/fonts/din/DIN Medium.ttf') format('truetype'), url('../assets/fonts/din/DIN Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}



/**end font declarations**/

/**ign header**/
header {
  position: absolute;
  z-index: 999;
  width: 100%;
}

#ignHeader {
  z-index: 99999;
}

#ignHeader #ignHeader-userBar {
  background: url(../assets/images/ign_bar.jpg) repeat-x top left;
  height: 40px;
}

#ignHeader #ignHeader-userBar #ignHeader-logo {
  background: url(../assets/images/ign_logo.png) no-repeat center 7px;
  height: 50px;
  width: 100px;
  display: block;
  margin-top: -2px;
  margin: auto;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

#ignHeader #ignHeader-navigation {
  top: 46px;
  height: 53px;
}

#ignHeader #ignHeader-navigation .ignHeader-navLinks {
  padding: 17px 0px;
}

#ignHeader #ignHeader-navigation .ignHeader-navLinks .ignHeader-navItem a {
  color: white;
  text-shadow: 0px 0px 10px #151515;
}

#ignHeader #ignHeader-navigation #nav-home a:link, #ignHeader #ignHeader-navigation #nav-home a:visited {
  background-image: url(../assets/images/header-icons.png);
}


.social-btns {
  margin-bottom: 0px;
  float: left;
  line-height: 0px;
}

.social-btns li {
  float: left;
  margin: 10px 10px 0px 10px;
}
/**end ign header**/

/**Blacklist Menu**/
nav {
  height: 70px;
  background-color: black;
  width: 100%;
  
  .row {
    padding: 0px 2%;
    background: black url(../assets/images/nav_bg.jpg) no-repeat top center;
    position: relative;
  }

  ul {
    list-style: none;
    padding: 0px 20px;
    margin: 0px;

    li {
      display: block;
      float:left;
      width: 15%;
      padding-top: 25px;
      height: 70px;
      text-align: center;
      font-size: 14px;

      &.active {
        background: black url(../assets/images/nav_bg-blue.png) repeat-x top left;

        a {
          color: #08252a;
          font-family: 'quantico_reg', Helvetica, Sans-serif;

          &:hover {
            color: black;
          }
        }
      }

      &.logo {
        width: 40%;
        padding-top: 5px;
      }

      a {
        color: #ffffff;
        font-family: 'quantico_reg', Helvetica, Sans-serif;

       -webkit-transition:color 0.3s ease-in;  
       -moz-transition:color 0.3s ease-in;  
       -o-transition:color 0.3s ease-in;  
       transition:color 0.3s ease-in;  

       &:hover {
          color: #cccccc;
       }

      }
    }
  }
}
/**end Blacklist Menu**/

/**pre-order button**/

.pre-order_btn {
    background: transparent url(../assets/images/game_pre-order.png) top center no-repeat;
    height: 160px;
    width: 360px;
    position: absolute;
    right: -150px;
    top: -22px;
}

/**end pre-order button**/

/**fixed nav**/
.stuck {
	position: fixed;
	margin-top: -40px!important;
	z-index: 99999;
}
